<html>

<body>
    <style>
        div {
            display: flex;
            flex-direction: column;}
    </style>
    <div>
        <a href="/stores">Stores</a>
        <a href="/products">Products</a>
        <a href="/managers">Managers</a>
    </div>
</body>

</html>